<!-- 张喜硕 添加/修改课程时间界面 -->
{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="content"}

    {php}
        if(request()->action() === 'add'){
            $action = 'save';
            echo '<h2 style="text-align: center">添加课程时间</h2>';
        } else {
            $action = 'update';
            echo '<h2 style="text-align: center">修改课程时间</h2>';
        }
    {/php}
    
    <form action="{:url($action)}" method="post">
        <div class="row">
            <label>课程名：</label>
            
            <input type="text" name="course" value="{$Course->name}" class="btn btn-default" readonly="true">

            <label>学期：</label>
            
            <input type="text" name="term" value="{$Term->name}" class="btn btn-default" readonly="true">
        </div>

        <hr>

        <div class="row">
            <label>星&nbsp;&nbsp;&nbsp;&nbsp;期：</label>
            
            <input type="text" name="day" value="{$Day->Day}" class="btn btn-default" readonly="true">

            <label>节数：</label>
            
            <input type="text" name="knob" value="{$Knob->Knob}" class="btn btn-default" readonly="true">
        </div>

        <hr>

        <div class="row">
            <label>周次：</label>
            <input type="button" class="btn btn-default" id="selectAll" value="全选">
            <input type="button" class="btn btn-default" id="deleteAll" value="全不选">
            <br>
            {volist name="$Knob->getWeeks()" id="week"}
                <input type="checkbox" name="week[]" id="{$week->Week}" value="{$week->Week}" {eq name="$week->getIsChecked($week->Week)" value="true"} checked="true" {/eq}>
                <label for="{$week->Week}">{$week->Week}</label>
            {/volist}
        </div>

        <hr>

        <div class="row">
            <button type="submit" class="btn btn-default">保存</button>
        </div>
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $("#selectAll").click(function(){ 
                $("input[name='week[]']").attr("checked","true"); 
            })
            $("#deleteAll").click(function(){
                $("input[name='week[]']").removeAttr("checked");
            })
        })
    </script>
{/block}
