<!-- 张喜硕 添加/修改课程时间界面 -->
{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="content"}

    {php}
        if(request()->action() === 'add'){
            $action = 'save';
            echo '<h2 style="text-align: center">添加课程时间</h2>';
        } else {
            $action = 'update';
            echo '<h2 style="text-align: center">修改课程时间</h2>';
        }
    {/php}
    
    <form action="{:url($action , [
                'courseId' => $Course->id,
                'termId'   => $Term->id])}" method="post">

        <div class="row">
            <label>课程名：</label>
            
            <input type="text" value="{$Course->name}" class="btn btn-default" disabled="true">

            <label>学期：</label>
            
            <input type="text" value="{$Term->name}" class="btn btn-default" disabled="true">
        </div>

        <hr>

        <div class="row">
            <label>星期：</label>

            <select name="day" class="btn btn-default">

                {volist name="$CourseTerm->getDays()" id="day"}
                <option {eq name="$day->Day" value="$Day->Day"}selected="true"{/eq} value="{$day->Day}">
                    {eq name="$day->Day" value="1"}一{/eq}
                    {eq name="$day->Day" value="2"}二{/eq}
                    {eq name="$day->Day" value="3"}三{/eq}
                    {eq name="$day->Day" value="4"}四{/eq}
                    {eq name="$day->Day" value="5"}五{/eq}
                    {eq name="$day->Day" value="6"}六{/eq}
                    {eq name="$day->Day" value="7"}日{/eq}
                </option>
                {/volist}
            </select>
        </div>

        <hr>

        <div class="row">

            <label>节数：</label>
            
            <select name="knob" class="btn btn-default">
                {volist name="$Day->getKnobs()" id="knob"}
                <option {eq name="$knob->Knob" value="$Knob->Knob"}selected="true"{/eq} value="{$knob->Knob}">
                    {eq name="$knob->Knob" value="1"}一{/eq}
                    {eq name="$knob->Knob" value="2"}二{/eq}
                    {eq name="$knob->Knob" value="3"}三{/eq}
                    {eq name="$knob->Knob" value="4"}四{/eq}
                    {eq name="$knob->Knob" value="5"}五{/eq}
                </option>
                {/volist}
            </select>
        </div>

        <hr>

        <div class="row">
            <label>周次：</label>
            <input type="button" class="btn btn-default" id="selectAll" value="全选">
            <input type="button" class="btn btn-default" id="deleteAll" value="全不选">
            <br>

            {volist name="$Knob->getItsWeeks()" id="week"}
                <input type="checkbox" name="week[]" id="{$week->Week}" value="{$week->Week}" {eq name="$week->getIsChecked($week->Week)" value="true"} checked="true" {/eq}>
                <label for="{$week->Week}">{$week->Week}</label>
                &nbsp;&nbsp;&nbsp;
            {/volist}
        </div>

        <hr>

        <div class="row">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i>&nbsp;保存</button>
        </div>
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $("#selectAll").click(function(){ 
                $("input[name='week[]']").attr("checked","true"); 
            })
            $("#deleteAll").click(function(){
                $("input[name='week[]']").removeAttr("checked");
            })
        })
    </script>
{/block}
