<!-- 张喜硕 课程管理课程添加界面 -->
{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="content"}

    
    <h2 style="text-align: center">{eq name="$Course->name" value=""}添加课程{else /}编辑课程{/eq}</h2>

    {eq name="$Course->name" value=""}
        <form action="{:url('saveCourse')}" method="post">
    {else /}
        <form action="{:url('updateCourse?id=' . $Course->id)}" method="post">
    {/eq}
    
        <div class="row">
            <label>课程名：</label>
            <br>
            <input type="text" name="CourseName" value="{$Course->name}" class="btn btn-default">
        </div>

        <hr>

        <div class="row">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i>&nbsp;保存</button>
        </div>
    </form>
{/block}