<!-- 张喜硕 课程管理课程查询界面 -->
{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="content"}
    <h2 style="text-align: center">{$Course->name}</h2>

    <hr />

    <div class="row">
        <div class="col-md-8">
            <form class="form-inline" action="{:url('inquiry?id=' . $Course->id)}" method="post">
                <select name="Termid" class="btn btn-default">
                    {volist name="$Term->all()" id="term"}
                        <option {eq name="$term->id" value="$Term->id"}selected="true"{/eq} value="{$term->id}">
                            {$term->name}
                        </option>
                    {/volist}
                </select>
                
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
            </form>
        </div>
    </div>

    <hr />

    <table class="table table-hover table-bordered">
        <tr class="info">
            <th class="col-md-2"></th>
            <th class="col-md-2">第一节</th>
            <th class="col-md-2">第二节</th>
            <th class="col-md-2">第三节</th>
            <th class="col-md-2">第四节</th>
            <th class="col-md-2">第五节</th>
        </tr>
        {volist name="$CourseTerm->getDays()" id="day" key="key"}
            <tr>
                <td>
                    星期{eq name="$key" value="1"}一{/eq}
                    {eq name="$key" value="2"}二{/eq}
                    {eq name="$key" value="3"}三{/eq}
                    {eq name="$key" value="4"}四{/eq}
                    {eq name="$key" value="5"}五{/eq}
                    {eq name="$key" value="6"}六{/eq}
                    {eq name="$key" value="7"}日{/eq}
                </td>
                {volist name="$day->getKnobs()" id="knob"}
                    <td>
                        {eq name="$knob->getCourseLength()" value="0"}
                            <a href="{:url('add' , [
                                    'course' => $knob->Course,
                                    'term'   => $knob->Term,
                                    'day'    => $knob->Day,
                                    'knob'   => $knob->Knob
                                ])}" class="btn btn-success">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                            {else /}
                            <a href="{:url('edit' , [
                                    'course' => $knob->Course,
                                    'term'   => $knob->Term,
                                    'day'    => $knob->Day,
                                    'knob'   => $knob->Knob
                                ])}" class="btn btn-default">
                                {$knob->getCourseWeek()}
                            </a>
                        {/eq}
                    </td>
                {/volist}
            </tr>
        {/volist}
    </table>
{/block}