<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <title>查询课程</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container">
    <h2 style="text-align: center">查询课程</h2>

    <hr />

    <div class="row">
        <div class="col-md-8">
            <form class="form-inline" action="{:url('inquiry')}" method="post">
                <select name="Courseid" class="btn btn-default">
                    {volist name="$Course->all()" id="course"}
                        <option {eq name="$course->id" value="$Course->id"}selected="true"{/eq} value="{$course->id}">
                            {$course->name}
                        </option>
                    {/volist}
                </select>

                <select name="Termid" class="btn btn-default">
                    {volist name="$Term->all()" id="term"}
                        <option {eq name="$term->id" value="$Term->id"}selected="true"{/eq} value="{$term->id}">
                            {$term->name}
                        </option>
                    {/volist}
                </select>
                
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
            </form>
        </div>
    </div>

    <hr />

    <table class="table table-hover table-bordered">
        <tr class="info">
            <th class="col-md-1"></th>
            <th class="col-md-1">星期一</th>
            <th class="col-md-1">星期二</th>
            <th class="col-md-1">星期三</th>
            <th class="col-md-1">星期四</th>
            <th class="col-md-1">星期五</th>
            <th class="col-md-1">星期六</th>
            <th class="col-md-1">星期日</th>
        </tr>
        {php}
            use app\index\model\Coursetime;


        {/php}
    </table>
    
</body>
</html>