<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <title>修改课程时间</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $("#selectAll").click(function(){ 
                $("input[name='week[]']").attr("checked","true"); 
            })
            $("#deleteAll").click(function(){
                $("input[name='week[]']").removeAttr("checked");
            })
        })
    </script>
</head>
<body class="container">
    <h2 style="text-align: center">添加课程时间</h2>
    <form action="{:url('save')}" method="post">
        <div class="row">
            <label>课程名：</label>
            
            <input type="text" name="course" value="{$Course->name}" class="btn btn-default" readonly="true">

            <label>学期：</label>
            
            <input type="text" name="term" value="{$Term->name}" class="btn btn-default" readonly="true">
        </div>

        <hr>

        <div class="row">
            <label>星&nbsp;&nbsp;&nbsp;&nbsp;期：</label>
            
            <input type="text" name="day" value="{$Day->Day}" class="btn btn-default" readonly="true">

            <label>节数：</label>
            
            <input type="text" name="knob" value="{$Knob->Knob}" class="btn btn-default" readonly="true">
        </div>

        <hr>

        <div class="row">
            <label>周次：</label>
            <input type="button" class="btn btn-default" id="selectAll" value="全选">
            <input type="button" class="btn btn-default" id="deleteAll" value="全不选">
            <br>

            {volist name="$Week->all()" id="week"}
                <input type="checkbox" name="week[]" id="{$week->id}" value="{$week->id}"><label for="{$week->id}">{$week->name}</label>
                {php}
                    if($week->id % 10 == 0){
                        echo '<br>';
                    }
                {/php}
            {/volist}
        </div>

        <hr>

        <div class="row">
            <button type="submit" class="btn btn-default">保存</button>
        </div>
    </form>
</body>
</html>