{extend name="index" /} {block name="title"}酒店管理 {/block} {block name="content"}
<div class="col-md-8 col-md-offset-1" style="margin-top: 60px;min-height: 735px;">
    <div class="row">
        <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;
            {eq name="$hotel->id" value=""}
                添加酒店
            {else /}
                编辑酒店
            {/eq}
        </h2>
        <br> {php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
        <form action="{:url($action, ['hotelId' => $hotel->id])}" method="post">
            <div class="form-group">
                <label>名称</label>
                <input type="text" class="form-control" name="designation" placeholder="名称..." value="{$hotel->designation}">
            </div>
            <div class="form-group">
                <label>目的国家</label>
                <input type="text" class="form-control" name="country" placeholder="所在国家..." value="{$hotel->country}">
            </div>
            <div class="form-group">
                <label>目的城市</label>
                <input type="text" class="form-control" name="city" placeholder="所在城市..." value="{$hotel->city}">
            </div>
            <div class="form-group">
                <label>星级</label>
                <div>
                    <label style="margin-right: 15px;" for="1">
                        <input id="1" class="radio-check" type="radio" name="star_level" value="3星级" {eq value="3星级" name="$starLevel"}checked="checked"{/eq}>3星级</label>
                    <label style="margin-right: 15px;" for="2">
                        <input id="2" class="radio-check" type="radio" name="star_level" value="4星级"{eq value="4星级" name="$starLevel"}checked="checked"{/eq} >4星级</label>
                    <label style="margin-right: 15px;" for="3">
                        <input id="3" class="radio-check" type="radio" name="star_level" value="5星级" selected="selected" {eq value="5星级" name="$starLevel"}checked="checked"{/eq}>5星级</label>
                    <label style="margin-right: 15px;" for="4">
                        <input id="4" class="radio-check" type="radio" name="star_level" value="无"  {eq value="无" name="$starLevel"}checked="checked"{/eq}>无</label>
                </div>
            </div>
            <div class="form-group">
                <label>备注</label>
                <input type="text" class="form-control" name="remark" placeholder="备注..." value="{$hotel->remark}">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i>&nbsp;保存</button>
            </div>
        </form>
    </div>
</div>
{/block}