{extend name="index"} {block name="title"}文章编辑{/block} {block name="content"}
<div class="col-md-8 col-md-offset-1" style="margin-top: 60px;min-height: 730px;">
    <div class="row">
        <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;文章编辑</h2>
        <br>
        {php}$action = request()->action() === 'firstadd' ? 'savefirstadd' : 'updatefirstadd';{/php}
        <form method="post" action="{:url ($action,['articleId'=>$articleId])}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="TitleInput">标题</label>
                <input type="text" class="form-control" id="TitleInput" placeholder="标题" name="title" value="{$title}" required>
            </div>
            <div class="form-group">
                <label>摘要</label>
                <!-- 加载编辑器的容器 -->
                <script id="container" name="summery" type="text/plain">
                    {$summery}
                </script>
                <!-- 配置文件 -->
                <script type="text/javascript" src="{:__ROOT__}/style/js/paragraphController/ueditor.config.js"></script>
                <script type="text/javascript" src="{:__ROOT__}/style/js/paragraphController/ueditor.all.js"></script>
                <!-- 实例化编辑器 -->
                <script type="text/javascript">
                var ue = UE.getEditor('container', {
                    toolbars: [
                        ['fullscreen', 'source', 'undo', 'redo', 'bold', 'indent', 'fontsize', 'paragraph', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'touppercase', 'tolowercase', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify']
                    ],
                    autoHeightEnabled: true,
                    autoFloatEnabled: true
                });
                </script>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">封面</label>
                <input type="file" class="image-file" name="image" onchange="checkImg()">
                {eq name="$cover" value=""} {else /}
                <img src="{:__ROOT__}/upload/{$cover}" style="height: 100px; width: 180px; " alt=""> {/eq}
            </div>
           
            
            <br>
            <div class="form-group">
                <span class="span6">
                    <strong>定制师选择</strong>
                </span>
                <span class="span6">
                    <select name="contractorId" id="contractor">
                        {volist name="contractors" id="_Contractor"}
                            <option value="{$_Contractor->getData('id')}" {eq name="$_Contractor->id" value="$contractorId" }selected="true"{else /}{/eq}>{$_Contractor->getData('designation')}</option>
                        {/volist}
                    </select>
                </span>
            </div>
            {eq name="$articleId" value=""}
             <div class="form-group">
                <label for="torvelRoutes">路线图</label>
                <input type="file" id="torvelRoutes" name="routes" class="image-file">

                {eq name="$route" value="1"}{else /} 
                <img src="{:__ROOT__}/upload/{$route}" style="height: 100px; width: 180px; " alt="">
                {/eq}
            </div>
            <div class="form-group">
                <label for="judgeRoute">是否添加路线图</label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>是
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="0">否
            </div>
            <div class="form-group">
                <label>是否添加九大服务</label>
                <input type="radio" name="especialMassageService"  value="九大服务" checked>是
                <input type="radio" name="especialMassageService"  value="" >否
            </div>
            <div class="form-group">
                <label>是否添加六大品质</label>
                <input type="radio" name="especialMassageQuality"  value="六大品质" checked>是
                <input type="radio" name="especialMassageQuality"  value="" >否
            </div>
            <div class="form-group">
                <label>是否添加报价说明</label>
                <input type="radio" name="especialMassageQuotes"  value="报价说明" checked>是
                <input type="radio" name="especialMassageQuotes"  value="" >否
            </div>
            <div class="form-group">
                <label>是否添加费用包含</label>
                <input type="radio" name="especialMassageCost"  value="费用包括" checked>是
                <input type="radio" name="especialMassageCost"  value="" >否
            </div>
            <div class="form-group">
                <label>是否添加费用不包含</label>
                <input type="radio" name="especialMassageNoCost"  value="费用不包括" checked>是
                <input type="radio" name="especialMassageNoCost"  value="" >否
            </div>
            {/eq}
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;下一步</button>
            <br>
            <br>
        </form>
    </div>
</div>
<script type="text/javascript">
                var _URL = window.URL || window.webkitURL;
                $('.image-file').bind('change', function() {
                    if ((file = this.files[0])) {
                        img = new Image();
                        img.onload = function() {
                            var width = this.width;
                            var height = this.height;
                            var ErrMsgErrMsg = "";//错误信息
                            if (width > 2048 || height > 2048) {
                                ErrMsgErrMsg = "图片过大,请选择其他图片！";
                                alert(ErrMsgErrMsg);
                                return false;
                            }   // 判断图片大小是否符合
                        };
                        img.src = _URL.createObjectURL(file);     
                    }
                });
                </script>
{/block}