<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>选课</title>
	<link rel="stylesheet" type="text/css" href="/courseManageSystem/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
	<h1 class="text-center">选课管理</h1>
	<br>
	<form class="form-inline col-md-3 col-md-offset-1" method="post">
	<label class="sr-only" for="name">姓名</label>
	<input name="name" type="text" class="form-control col-md-2" placeholder="姓名..." >
	<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
	</form>
	<br>
	<hr>
	<form action="{:url ('save');}" method="post">
	<div class="col-md-offset-1">
		<h3>课程</h3>
		<div class="col-md-offset-1">
			<input type="text" name="name" class="sr-only" value="{$User->username}">
			{volist name="courses" id="courses"}
	            <input type="checkbox" name="course_id[]" id="UserCourse" value="{$courses->id}" {eq name="User->getIsChecked($courses)" value="true"} checked="checked"{/eq}/>
	             {:var_dump($courses->id);} 
	            <label for="UserCourse">{$courses->name}</label>
        	{/volist}
		</div>
	</div>
	<div class="col-md-offset-8">
		<button type="submit" class="btn btn-default">选课修改</button>
	</div>
	</form>
</body>
</html>