<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程表</title>
	<link rel="stylesheet" type="text/css" href="/courseManageSystem/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
	<h1 class="text-center">课程表</h1>
	<hr/>
	<form class="form-inline row" method="post">
		<div class="col-md-12 col-md-offset-1" >
			<div class="col-md-6  col-md-offset-1" style="margin-top: 20px;">
			<label>周次</label>
			<input type="" name="week"  class="form-control" >
			<button class="btn btn-default" type="submit">查询</button>
		    </div>
			 <a href="{:url('eletive')}" class="btn btn-primary col-md-offset-2" style="margin-top: 20px;"><i class="glyphicon glyphicon-plus"></i>&nbsp;选课管理</a>
		</div>
		<hr/>	
	</form>
	<hr/>
	<table class="table table-bordered table-hover" style="width: 1000px; margin: 0 auto;">
		<tr class="active">
			<th>节次</th>
			<th>周一</th>
			<th>周二</th>
			<th>周三</th>
			<th>周四</th>
			<th>周五</th>
			<th>周六</th>
			<th>周日</th>
		</tr>
		 <tr >
			<td>第一节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr>
		<tr>
			<td>第二节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr>
		<tr>
			<td>第三节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr>
		<tr>
			<td>第四节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr> 
		<tr>
			<td>第五节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr> 
	</table>
	<hr>
	<p class="col-md-3 col-md-offset-1"><span style="color: red">红色:请假</span>&nbsp;<span style="color: green;">绿色：有课</span>&nbsp;<span style="color: blue;">蓝色：无课</span></p>
</body>
</html>