<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程表</title>
	<link rel="stylesheet" type="text/css" href="/courseManageSystem/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
	<div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">首页</a></li>
                            <li><a href="{:url('eletive')}">选课管理</a></li>
                            <li><a href="{:url('Course/index')}">用户管理</a></li>
                            <li><a href="{:url('User/index')}">课程管理</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
	
	<hr/>
	<form class="form-inline row" method="post">
		<div class="col-md-12 col-md-offset-1" >
			<div class="col-md-6  col-md-offset-1" style="margin-top: 20px;">
			<label>周次</label>
			<input type="" name="week"  class="form-control" >
			<button class="btn btn-default" type="submit">查询</button>
		    </div>
		</div>
		<hr/>	
	</form>
	<hr/>
	<table class="table table-bordered table-hover" style="width: 1000px; margin: 0 auto;">
		<tr class="active">
			<th>节次</th>
			<th>周一</th>
			<th>周二</th>
			<th>周三</th>
			<th>周四</th>
			<th>周五</th>
			<th>周六</th>
			<th>周日</th>
		</tr>
		 <tr >
			<td>第一节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr>
		<tr>
			<td>第二节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr>
		<tr>
			<td>第三节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr>
		<tr>
			<td>第四节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr> 
		<tr>
			<td>第五节</td>
			<td><span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: green;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			 
			<td>
			<span style="color: red;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			</td>
			<td><span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: green;">陈志高</span><br>
			<td>
			<span style="color: green;">朱晨澍</span><br>
			<span style="color: red">周杰</span><br>
			<span style="color: green;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td>
			<span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br>
			</td>
			<td><span style="color: blue;">朱晨澍</span><br>
			<span style="color: blue">周杰</span><br>
			<span style="color: blue;">张喜硕</span><br>
			<span style="color: blue;">朴世超</span><br>
			<span style="color: blue;">陈志高</span><br></td>
		</tr> 
	</table>
	<hr>
	<p class="col-md-3 col-md-offset-1"><span style="color: red">红色:请假</span>&nbsp;<span style="color: green;">绿色：有课</span>&nbsp;<span style="color: blue;">蓝色：无课</span></p>
</body>
</html>