{extend name="index" /}

{block name="title"}
个人中心
{/block}

{block name="content"}
<div class="row">
    <div style="margin-top: 5%;" align="center">
        <h3>
            修改个人信息
        </h3>
    </div>
</div>
<div class="row" style="margin-bottom: -60px;">
    <div class="signup-form" style="border:2px; border-color: #ACEBAE;border-style: solid; margin-top: 5%; padding: 3%; margin-left: 31%; margin-right: 31%;margin-bottom: 340px;" align="center">
        <div class="row">
            <form class="form-horizontal" action="{:url('user/update', ['userId' => $user->id])}" method="post">
                <div class="form-group">
                    <div class="col-md-3" style="line-height: 30px;">
                        用户名
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="username" placeholder="用户名..." value="{$user->username}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3" style="line-height: 30px;">
                            密码
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="password" placeholder="密码..." value="{$user->password}">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-info" style="width: 100%;">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}