{extend name="index"} {block name="title"}段落编辑{/block} {block name="content"}
<div class="col-md-8 col-md-offset-1" style="margin-top: 60px;min-height: 736px;">
    <div class="row">
        <h2><span class="glyphicon glyphicon-edit"></span>&nbsp; {eq name="$judge" value="1"} 编辑段落 {else}添加段落{/eq}</h2>
        <br> {php}$action = request()->action() === 'index' ? 'add' : 'update';{/php}
        <form method="post" action="{:url($action, ['id' => $Paragraph->getData('id'), 'articleId' => $articleId])}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" required class="form-control" placeholder="标题" name="title" id="title" value="{$Paragraph->getData('title')}">
            </div>
            <div class="form-group">
                <label>段落</label>
                <!-- 加载编辑器的容器 -->
                <script id="container" name="content" type="text/plain">
                    {$Paragraph->getData('content')}
                </script>
                <!-- 配置文件 -->
                <script type="text/javascript" src="{:__ROOT__}/style/js/paragraphController/ueditor.config.js"></script>
                <script type="text/javascript" src="{:__ROOT__}/style/js/paragraphController/ueditor.all.js"></script>
                <!-- 实例化编辑器 -->
                <script type="text/javascript">
                var ue = UE.getEditor('container', {
                    toolbars: [
                        ['fullscreen', 'source', 'undo', 'redo', 'bold', 'indent', 'fontsize', 'paragraph', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'touppercase', 'tolowercase', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify']
                    ],
                    autoHeightEnabled: true,
                    autoFloatEnabled: true
                });
                </script>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">图片</label>
                <input type="file" id="image-file" name="image" value="{$Paragraph->getData('image')}" onchange="checkImg()">
                <script type="text/javascript">
                var _URL = window.URL || window.webkitURL;
                $('#image-file').bind('change', function() {
                    if ((file = this.files[0])) {
                        img = new Image();
                        img.onload = function() {
                            var width = this.width;
                            var height = this.height;
                            var ErrMsgErrMsg = "";//错误信息
                            if (width > 2048 || height > 2048) {
                                ErrMsgErrMsg = "图片过大,请选择其他图片！";
                                alert(ErrMsgErrMsg);
                                return false;
                            }   // 判断图片大小是否符合
                        };
                        img.src = _URL.createObjectURL(file);     
                    }
                });
                </script> 
                {eq name="Paragraph->image" value=""} {else/}
                <img src="{:__ROOT__}/upload/{$Paragraph->image}" style="height: 100px; width: 180px; " alt="无图"> {/eq}
            </div>
            <div class="form-group">
                <label for="">是否位于景点前</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="is_before_attraction" value="1" checked> 是
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="is_before_attraction" value="0" {eq name="Paragraph->getData('is_before_attraction')" value="0" } checked="checked" {/eq}> 否
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>&nbsp;完成</button>
        </form>
    </div>
</div>
{/block}