.overhidden{
            position: relative; line-height:1.5em;
    		/* 高度为需要显示的行数*行高，比如这里我们显示6行，则为9 */
    		height:9em;overflow: hidden;
        }
.overhidden::after{
            content: "..."; position: absolute; bottom: 0; right: 0; padding-left: 40px;
            background: -webkit-linear-gradient(left, transparent, #fff 55%);
            background: -o-linear-gradient(left, transparent, #fff 55%);
            background: linear-gradient(to right, transparent, #fff 55%);
      	}