{extend name="index" /} {block name="title"}编辑订制师 {/block}

<body>
    {block name="content"}
    <div class="col-md-8 col-md-offset-1" style="margin-top: 60px;min-height: 735px;">
        <div class="row">
            <h2>
        <span class="glyphicon glyphicon-edit"></span>&nbsp;
        编辑订制师</h2>
            <br>
            {php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
            <form action="{:url($action,['contractorId'=>$contractor->id])}" method="post">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" name="designation" placeholder="姓名..." value="{$contractor->designation}">
                </div>
                <div class="form-group">
                    <label>电话</label>
                    <input type="text" class="form-control" name="phone" placeholder="电话..." value="{$contractor->phone}">
                </div>
                <div class="form-group">
                    <label>传真</label>
                    <input type="text" class="form-control" name="fax" placeholder="传真..." value="{$contractor->fax}">
                </div>
                <div class="form-group">
                    <label>手机</label>
                    <input type="text" class="form-control" name="mobile" placeholder="手机..." value="{$contractor->mobile}">
                </div>
                <div class="form-group">
                    <label>电子邮箱</label>
                    <input type="email" class="form-control" name="email" placeholder="邮箱..." value="{$contractor->email}">
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i>&nbsp;保存</button>
                </div>
            </form>
        </div>
    </div>
    {/block}
</body>

</html>