<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{:__ROOT__}/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <center>
        <h1>课表系统~</h1></center>
    <br>
    <div class="row">
        <form action="{:url('query')}" method="post">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <center>
                    <label>第<div class="btn">
                        <input type="number" min=1 max=20 value="{$ALWeek->weekTime}" name="weekTime"></div>周</label>
                        <input type="submit" value="确定">
                </center>
                <table class="table table-hover table-bordered">
                    <tr class="info">
                        <th>节次</th>
                        <th>星期一</th>
                        <th>星期二</th>
                        <th>星期三</th>
                        <th>星期四</th>
                        <th>星期五</th>
                        <th>星期六</th>
                        <th>星期天</th>
                    </tr>
                    {volist name="ALWeek->konbs" id="Knob" key="key"}
                    <tr>
                    <th>{$Knob->konbName}</th>
                    {volist name="Knob->Days" id="Day" key="key"}
                    <th>
                        <div class="{$Day->style}">
                        <a href="{$Day->state}">
                        <button type="button" class="btn {$Day->color}">{$Day->char}</button>
                        </a>
                        </div>
                        <center>{$Day->coursename}</center>
                    </th>
                    {/volist}
                    </tr>
                    {/volist}
                </table>
            </div>
            <div class="col-sm-2 col-md-2"><br><a href="{:url('index/logout')}">注销</a></div>
        </form>
    </div>
</body>

</html>
