{extend name="index"} {block name="title"}素材管理{/block} {block name="content"}

<div class="col-md-8 col-md-offset-1" style="margin-top: 60px;min-height: 730px;">
    <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;素材编辑</h2>
    <br>
    {php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
    <form method="post" action="{:url ($action,['materialId'=>$material->id])}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="TitleInput">名称</label>
            <input type="text" class="form-control" id="TitleInput" placeholder="名称" name="designation" value="{$material->designation}">
        </div>
        <div class="form-group">
            <label for="TitleInput">地区</label>
            <input type="text" class="form-control" id="TitleInput" placeholder="地区" name="area" value="{$material->area}">
        </div>
        <div class="form-group">
            <label for="TitleInput">国家</label>
            <input type="text" class="form-control" id="TitleInput" placeholder="国家" name="country" value="{$material->country}">
        </div>
        <div class="form-group">
            <label>描述</label>
            <!-- 加载编辑器的容器 -->
            <script id="container" name="content" type="text/plain">
                {$material->content}
            </script>
            <!-- 配置文件 -->
            <script type="text/javascript" src="{:__ROOT__}/style/js/paragraphController/ueditor.config.js"></script>
            <script type="text/javascript" src="{:__ROOT__}/style/js/paragraphController/ueditor.all.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var ue = UE.getEditor('container', {
                    toolbars: [
                    ['fullscreen', 'source', 'undo', 'redo', 'bold', 'indent', 'fontsize', 'paragraph', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'touppercase', 'tolowercase', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify']
                    ],
                    autoHeightEnabled: true,
                    autoFloatEnabled: true
                });
            </script>
        </div>
        <div class="form-group">
            <label for="input-b3">上传图片</label>
            <input id="input-b3" name="images[]" type="file" class="file" multiple data-show-upload="false" data-show-caption="true" >
        </div>
        {eq name = "$action" value = "update"}
        <div class="form-group">
            {volist name = "images" id = "image"}
                <img src="{:__ROOT__}/upload/{$image}" style="height: 100px; width: 200px;" id="{$i}">
                <button class="btn btn-xs btn-danger" type="button" onclick="deleteImage({$i}, {$material->id})" id = "but_{$i}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
            {/volist}
        </div>
        {/eq}

    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>&nbsp;完成</button>
    <br>
    <br>
</form>
    <script>
        $("#input-b3").fileinput({
            language: 'zh', //设置语言
            uploadUrl: "./list.json", //上传的地址(访问接口地址)
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 2048,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 10, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            layoutTemplates:{
                actionDelete:'',
                actionUpload:'',
                actionZoom:''
            }
        });

        //删除照片的ajax请求
        function deleteImage (key,　materialId) {
            //获取当前路径域名
            var host = window.location.host;
            //拼接路径
            var url = "http://" + host + "/index/material/deleteImage?materialId=" + materialId + "&imageKey=" + key;
            //发送ajax请求
            console.log(key);
            console.log(materialId);
            $.ajax({
                url: url,
                type: "get",
                success: function (response) {
                    if (response.status === "success") {
                        //刷新当前界面
                        location.reload();
                        //隐藏相应的元素
                        var image = document.getElementById(key);
                        var buttom = document.getElementById("but_" + key);
                        console.log(image)
                        image.style.visibility = 'hidden';
                        buttom.style.visibility = 'hidden';
                    }
                },
                error: function (xhr) {
                    alert("服务器内部发生错误");
                }
            });
        }
    </script>
</div>
{/block}