<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>用户信息管理</title>
    <link rel="stylesheet" type="text/css" href="/timetableSystem/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body class="contanier">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                学生信息管理
            </h3>
            <div class="row">
                <div class="col-md-offset-2">
                    <br />
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="姓名..." value="{:input('get.name')}">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>搜索</button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{:url('add')}" class="btn btn-primary">&nbsp;增加</a>
                    <a href="#" class="btn btn-primary">&nbsp;重置密码</a>
                </div>
            </div>
            <hr />
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-hover">
                    <tr class="info">
                        <th>序号</th>
                        <th>姓名</th>
                        <th>用户名</th>
                        <th>电话</th>
                        <th>操作</th>
                    </tr> 
                    {volist name="users" id="user" key="key"}
                    <tr>
                        <td>{$key}</td>    
                        <td>{$user->getData('name')}</td>                       
                        <td>{$user->getData('username')}</td>
                        <td>{$user->getData('phone')}</td>
                        <td>
                            <a href="{:url('edit')}" class="btn btn-success">&nbsp;编辑</a>
                            <a href="#" class="btn btn-danger">&nbsp;删除</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>