{extend name="index"}
{block name="title"}用户信息管理
{/block}
{block name="content"}
<div class="row">
        <div class="col-md-12">
            <h2 class="text-center">
                学生信息管理
            </h2>
            <hr />
            <div class="row">
                <div>                    
                    <div class="col-md-4">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="name">姓名</label>
                                <input name="name" type="text" class="form-control" placeholder="姓名..." value="{:input( 'get.name')}">
                            </div>
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                        </form>
                        <!-- /input-group -->
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                </div>
            </div>
            <hr />
            <div class="col-md-12">
                <table class="table table-hover table-bordered">
                    <tr class="info">
                        <th>序号</th>
                        <th>姓名</th>
                        <th>用户名</th>
                        <th>电话</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    {volist name="users" id="user" key="key"}
                    <tr>
                        <td>{$key}</td>
                        <td>{$user->getData('name')}</td>
                        <td>{$user->getData('username')}</td>
                        <td>{$user->getData('phone')}</td>
                        <td>
                            {eq name="$user->power" value="2"}
                            <span class="badge" style="background-color: ">冻结</span>
                            {else /}
                            <span class="badge" style="background-color: #85db18">正常</span>
                            {/eq}
                        </td>
                        <td>
                            <a href="{:url('edit?username=' . $user->getData('username'))}" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>&nbsp;
                            <a href="{:url('delete?username=' . $user->getData('username'))}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>&nbsp;
                            <a href="{:url('resetpassword?username=' . $user->getData('username'))}" class="btn btn-primary"><i class="glyphicon glyphicon-lock"></i>&nbsp;重置密码</a>&nbsp;
                            <a href="{:url('Eletivecourse/index?name=' . $user->getData('name'))}" class="btn btn-warning"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;选课</a>
                            {eq name="$user->power" value="2"}
                            <a href="{:url('thaw?username=' . $user->getData('username'))}" class="btn btn-info"><i class="glyphicon glyphicon-ok-sign"></i>&nbsp;解冻</a>
                            {else/}
                            <a href="{:url('freeze?username=' . $user->getData('username'))}" class="btn btn-info"><i class="glyphicon glyphicon-remove-sign"></i>&nbsp;冻结</a>
                            {/eq}
                        </td>
                    </tr>
                    {/volist}
                </table>
                {$users->render()}
            </div>
        </div>
    </div>
    {/block}