<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/courseManageSystem/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <center>
        <h1>课表系统~</h1></center>
    <br>
    <div class="row">
        <form>
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <center>
                    <label>第
                        <input type="number" min=1 max=20 value="20" name=""> 周</label>
                </center>
                <table class="table table-hover table-bordered">
                    <tr class="info">
                        <th>节次</th>
                        <th>星期一</th>
                        <th>星期二</th>
                        <th>星期三</th>
                        <th>星期四</th>
                        <th>星期五</th>
                        <th>星期六</th>
                        <th>星期天</th>
                    </tr>
                    <tr>
                        <th>节次</th>
                        <th>
                            <button type="button" class="btn btn-primary">请假</button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-primary">请假</button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-primary">请假</button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-primary">请假</button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-primary">请假</button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-primary">请假</button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-primary">请假</button>
                        </th>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>

</html>
